div.result { font-size: 14px }

.blackFont { color: #000 }

/*h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
}

#textToCheck {
    width: 100%;
    height: 80%
}*/

span, .span {
    padding: 2px;
    border: 0px
}

#checkedMessage { line-height: 26px }

span.out { background-color: red }

.cenitex { background-color: orange }

.oneK { background-color: greenyellow }

.twoK { background-color: cadetblue }

.fiveK { background-color: burlywood }

.tenK { background-color: cyan }

.twentyK { background-color: darkmagenta }

span.proper { background-color: yellow }

#piechart {
    /*width: 100%;*/
    height: 400px
}

.well-done { color: green }

.double-check { color: red }